<h1>Search Results</h1>

<table class="table table-striped table-hover table-bordered table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Games</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Points</th>
      <th>+/-</th>
      <th>Draft team</th>
      <th>Nationality</th>
      <th>Draft year</th>
      <th>Draft pick</th>
      
      <th>Penalty minutes</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.games_played %></td>
        <td><%= player.goals %></td>
        <td><%= player.assists %></td>
        <td><%= player.points %></td>
        <td><%= player.plus_minus %></td>
        <td><%= player.draft_team %></td>
        <td><%= player.nationality %></td>
        <td><%= player.draft_year %></td>
        <td><%= player.draft_pick %></td>
        
        <td><%= player.penalty_minutes %></td>
        
        <td><%= link_to 'Details', player, class:"btn btn-outline-primary btn-sm"%></td>
        
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_player_path(player), class:"btn btn-outline-secondary btn-sm" %></td>
          <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>



<% if user_signed_in? %>
  <%= link_to 'New Player', new_player_path, class:"btn btn-dark text-white" %>
<% end %>
